{% extends "base.html" %} {% block content %}

<h1>Welcome to Handshaker!</h1>
<h5>Get your foot in the door with the tap of a button</h5>

<br>

<div>
  Prereqs
  <ul>
    <li>BYU Login to Handshake</li>
    <li>Complete Handshake Profile with an Uploaded Resume</li>
  </ul>
</div>

<br>
<br>
<div class="card is-loading">
  <div class="card-content">
    <div class="content">
      <form action="{{ url_for('apply') }}" method="post">
        <div class="field">
          <label class="label" for="username">BYU Net ID</label>
          <div class="control">
            <input class="input" name="username" type="text" placeholder="Username" required>
          </div>
        </div>
        <div class="field">
          <label class="label" for="password">Password</label>
          <div class="control">
            <input class="input" name="password" type="password" placeholder="Password" required>
          </div>
        </div>
        <div class="field">
          <label class="label" for="query">Job title you want</label>
          <div class="control">
            <input class="input" name="query" type="text" placeholder="Job title" required>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-link" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<br>

<p>Normally you'll wait until you've completely logged in and applied for jobs before seeing the done page, but if it's killing you to see it, click below.</p>
<a href={{ url_for('done') }}>Go to done</a>

{% endblock %}
